body {
    margin: 0;
    padding: 0;
    background-color: #210340;
}

.img-logo {
    width: 150px;
    height: 45px;
    filter: invert(100%);
}

.mdc-top-app-bar {
    background-color: #210340;
}

.mdc-top-app-bar--short {
    padding: 0 20px 0 12px;
}

hr {
    border: 1px solid rgba(167, 98, 234, 0.4);
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: CeraPro-Bold, 'Cera Pro', sans-serif;
    font-weight: 700;
    height: 80px;
    font-size: 24px;
    line-height: 32px;
    color: #fff;
}

.mdc-top-app-bar__title {
    padding-left: 25px;
    font-family: CeraPro-Bold, 'Cera Pro', sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    color: #fff;
}

.mdc-top-app-bar--fixed-adjust {
    padding-top: 50px;
}

.mdc-top-app-bar__section--align-start {
    justify-content: space-between;
}

#cards {
    padding-left: 110px;
    min-height: 390px;
    display: flex;
    flex-wrap: wrap;
    column-gap: 50px;
    row-gap: 15px;
    margin-top: 30px;
    margin-bottom: 60px;
    color: #fff;
    font-family: CeraPro-Regular, 'Cera Pro', sans-serif;
    font-weight: 400;
    font-size: 14px;
}

.chef-name {
    font-family: CeraPro-Bold, 'Cera Pro', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    align-self: center;
}

.chef-price {
    font-family: CeraPro-Bold, 'Cera Pro', sans-serif;
    font-weight: 600;
    font-size: 14px;
    align-self: flex-end;
}

.card-product {
    padding: 5px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    width: 230px;
    height: 170px;
    text-align: left;
    border: 1px solid #fff;
    border-radius: 5px;
}

.mdc-button__label {
    color: #fff;
    font-family: CeraPro-Bold, 'Cera Pro', sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
}

.mdc-button {
    align-self: flex-start;
}

.ul-card {
    width: 100%;
    display: flex;
    height: 80%;
    gap: 10px;
    flex-direction: column;
}

ul,
li {
    padding: 0;
    list-style: none;
}

.title-main {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.desc-main {
    font-family: CeraPro-Bold, 'Cera Pro', sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    color: #fff;
}

.log-in {
    font-family: CeraPro-Bold, 'Cera Pro', sans-serif;
    font-weight: 700;
    line-height: 20px;
    font-size: 14px;
}

.mini-card {
    border: 1px solid white;
    width: 100px;
    height: 35px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    gap: 8px;
}

.mini-card:hover {
    border: 1px solid #210340;
    background-color: #fff;
    color: #210340;
    cursor: pointer;
}